<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/flirt-service.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/flirt-service.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.fl.web" additivity="false" level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.fl.core" additivity="false" level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="com.mchange" additivity="false" level="error">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="ch.qos.logback" additivity="false" level="error">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>



	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
